aside {
    position: fixed;
    right: -130px;
    height: 100%;
    transition: all 1s;
    z-index: 2;
    top: 0;
}

.asideshow {
    right: 0 !important;
}

.left {
    left: 0 !important;
}

aside > .hover {
    color: #fff;
    background-color: #2F3339;
    display: flex;
    align-items: center;
    width: 200px;
    padding: 5px;
}

aside > .hover > span {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/right.svg);
}

aside .brand {
    height: 100%;
    position: relative;
    left: 82px;
    opacity: 5;
    top: 0;
    background-color: #2F3339;
}

aside .brand .brand-container > ul > li {
    background-image: url(../img/brand.png);
    background-repeat: no-repeat;
    width: 104px;
    height: 100px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

aside .brand .brand-container > ul > li:nth-child(1):hover, aside .brand .brand-container > ul > li:nth-child(1):hover > .brand-sub {
    background-color: #ffc100;
}

aside .brand .brand-container > ul > li:nth-child(2):hover, aside .brand .brand-container > ul > li:nth-child(2):hover > .brand-sub {
    background-color: #99CC41;
}

aside .brand .brand-container > ul > li:nth-child(3):hover, aside .brand .brand-container > ul > li:nth-child(3):hover > .brand-sub {
    background-color: #F68A0A;
}

aside .brand .brand-container > ul > li:nth-child(4):hover, aside .brand .brand-container > ul > li:nth-child(4):hover > .brand-sub {
    background-color: #BB2B2B;
}

aside .brand .brand-container > ul > li:nth-child(5):hover, aside .brand .brand-container > ul > li:nth-child(5):hover > .brand-sub {
    background-color: #7436B5;
}

aside .brand .brand-container > ul > li:nth-child(6):hover, aside .brand .brand-container > ul > li:nth-child(6):hover > .brand-sub {
    background-color: #2DABDF;
}

aside .brand .brand-container > ul > li:nth-child(7):hover, aside .brand .brand-container > ul > li:nth-child(7):hover > .brand-sub {
    background-color: #FF617F;
}

aside .brand .brand-container > ul > li:nth-child(8):hover, aside .brand .brand-container > ul > li:nth-child(8):hover > .brand-sub {
    background-color: #727272;
}

aside .brand .brand-container > ul > li:nth-child(2) {
    background-position: 0 -100px;
}

aside .brand .brand-container > ul > li:nth-child(3) {
    background-position: 0 -200px;
}

aside .brand .brand-container > ul > li:nth-child(4) {
    background-position: 0 -300px;
}

aside .brand .brand-container > ul > li:nth-child(5) {
    background-position: 0 -400px;
}

aside .brand .brand-container > ul > li:nth-child(6) {
    background-position: 0 -500px;
}

aside .brand .brand-container > ul > li:nth-child(7) {
    background-position: 0 -600px;
}

aside .brand .brand-container > ul > li:nth-child(8) {
    background-position: 0 -700px;
}

aside .brand .brand-container > ul li > div {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

aside .brand .brand-container > ul li > div.brand-sub > ul > li {
    background-repeat: no-repeat;
    width: 104px;
    height: 100px;
}

aside .brand .brand-container > ul li > div.brand-sub > ul > li:hover {
    background-position: -100px 0;
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/beer01.png);
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(2) {
    background-image: url(../img/beer02.png);
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(3) {
    background-image: url(../img/beer03.png);
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(4) {
    background-image: url(../img/beer04.png);
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(5) {
    background-image: url(../img/beer05.png);
}

aside .brand .brand-container > ul li:nth-child(1) > div.brand-sub > ul > li:nth-child(6) {
    background-image: url(../img/beer06.png);
}


aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/soju01.png);
}

aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(2) {
    background-image: url(../img/soju02.png);
}

aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(3) {
    background-image: url(../img/soju03.png);
}

aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(4) {
    background-image: url(../img/soju04.png);
}

aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(5) {
    background-image: url(../img/soju05.png);
}

aside .brand .brand-container > ul li:nth-child(2) > div.brand-sub > ul > li:nth-child(6) {
    background-image: url(../img/soju06.png);
}

aside .brand .brand-container > ul li:nth-child(3) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/whiskey01.png);
}

aside .brand .brand-container > ul li:nth-child(3) > div.brand-sub > ul > li:nth-child(2) {
    background-image: url(../img/whiskey02.png);
}

aside .brand .brand-container > ul li:nth-child(3) > div.brand-sub > ul > li:nth-child(3) {
    background-image: url(../img/whiskey03.png);
}

aside .brand .brand-container > ul li:nth-child(4) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/wine01.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/imported01.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(2) {
    background-image: url(../img/imported02.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(3) {
    background-image: url(../img/imported03.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(4) {
    background-image: url(../img/imported04.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(5) {
    background-image: url(../img/imported05.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(6) {
    background-image: url(../img/imported06.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(7) {
    background-image: url(../img/imported07.png);
}

aside .brand .brand-container > ul li:nth-child(5) > div.brand-sub > ul > li:nth-child(8) {
    background-image: url(../img/imported08.png);
}

aside .brand .brand-container > ul li:nth-child(6) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/sake01.png);
}

aside .brand .brand-container > ul li:nth-child(7) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/etc01.png);
}

aside .brand .brand-container > ul li:nth-child(8) > div.brand-sub > ul > li:nth-child(1) {
    background-image: url(../img/international01.png);
}