footer {
  background-color: #333;
  color: #9a9a9a;
}

footer a{
  color: #9a9a9a;
}

footer div.container {
  
}

footer div.container ul.fnb {
  justify-content: space-between;
}

footer div.container ul.fnb li h2 {
  text-align: center;
  margin-bottom: 30px;
}

footer div.container ul.fnb li ul.sub-list {
  font-size: 13px;
}

footer div.container ul.fnb li:not(:first-child) ul.sub-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 25px;
  place-items: center;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(1) {
  order: 1;
}


footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(2) {
  order: 3;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(3) {
  order: 5;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(4) {
  order: 7;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(5) {
  order: 9;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(6) {
  order: 2;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(7) {
  order: 4;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(8) {
  order: 6;
}

footer div.container ul.fnb li:nth-child(1) ul.sub-list li:nth-child(9) {
  order: 8;
}

footer div.container ul.fnb2 {
  gap: 30px;
  margin: 50px 0;
  font-size: 13px;
  justify-content: space-between;
}

footer div.container ul.fnb2 li {
  position: relative;
}

footer div.container ul.fnb2 li a {
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 12px;
}

footer div.container ul.fnb2 li:not(:last-child) a::after {
  content: "";
  border-right: 1px solid #666;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: -20px;
  top: calc(50% - 5px);
}


footer div.container address {
  line-height: 1.4;
  text-align: center;
  font-size: 12px;
}

footer div.container p {
  text-align: center;
  font-size: 12px;
}

footer .btop{
  width: 80px;
  height: 80px;
  display: block;
  background-color: #222;
  font-size: 0;
  background-image: url(../img/uparrow.svg);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  position: fixed;
  right: 60px;
  bottom: calc(234.8px - 40px);
  display: none;
}