@media screen and (max-width:720px) {
/* 상단 */
    header .wrap nav {
        flex-wrap: nowrap;
    }
    
    header .wrap nav h1::before {
        display: none;
    }
    
/*  타이틀    */
    #title {
        min-height: 0;    
    }
    
    #title .wrap img {
        height: 52.7vw; 
    }
    
    #title .slick-prev::before, #title .slick-next::before {
        display: none;
    }
    
/*  제품  */
    
    
    #product ul.list {
        display: block;
    }
    
    #product ul.list li {
        height: 70vw;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #product ul.list li.product02 {
        background-image: url(../img/mobile01.png);
        height: 53.3vw;
    }
    
    #product ul.list li.product06 {
        background-image: url(../img/mobile02.png);
    }
    
    #product ul.list li.product08 {
        background-image: url(../img/mobile03.png);
    }
    
    #product ul.list li div {
        display: block !important;
        bottom: -220px;
        height: auto;
    }
    
    #product ul.list li div::before {
        display: none;
    }
    
    #product ul.list li div p {
        color: #000;
    }
    
    #product ul.list li div a {
        color: #000;    
        display: none;
    }
    
    #product .slick-list {
        margin: 0 88px;
    } 
    
    #product .slick-prev {
        left: 30px;
    }

    #product .slick-next {
        right: 30px;
    }
    
    #product .slick-prev::before, #product .slick-next::before {
        color: #000;
    }
    
/*  sns   */
    #sns .snsani li {
        
    }
    
    #sns .slick-next {
        display: none !important;
    }
    
    #sns .slick-list {
        padding: 0 !important;
    }
    
/*  하단    */
    footer div.container ul.fnb {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    
    footer div.container ul.fnb li h2 {
        margin-bottom: 4.16vw;
        text-align: unset;
        margin-left: 15px;
    }
    
    footer div.container ul.fnb li a {
        font-size: 15px; 
    }
    
    footer div.container ul.fnb li:nth-child(1) ul.sub-list, footer div.container ul.fnb li:not(:first-child) ul.sub-list {
        display: none;
    }
    
    footer div.container ul.fnb2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 23px;
        padding: 5px;
        box-sizing: border-box;
        place-items: center;
    }
    
    footer div.container ul.fnb2 li:nth-child(1) a::after, footer div.container ul.fnb2 li:nth-child(5) a::after {
        right: -15px;
    }
    
    footer div.container ul.fnb2 li:nth-child(2) a::after {
        right: -18px;
    }
    
    footer div.container ul.fnb2 li:nth-child(4) a::after {
        right: -23px;
    }
    
    footer div.container ul.fnb2 li:nth-child(7) a::after {
        right: -12px;
    }
    
    footer div.container ul.fnb2 li:nth-child(8) a::after {
        right: -20px;
    }
    
    footer div.container ul.fnb2 li:nth-child(3) a::after, footer div.container ul.fnb2 li:nth-child(6) a::after {
        display: none;
    }
    
    footer div.container p {
        margin-top: 10px;
    }
    
    
    
/*  공통   */
    aside, .gnb, .enb, header .wrap nav div.wgnb {
        display: none;
    }
    
    div.ham {
        display: block;
    }
    
    .h4 {
        font-size: 3.47vw;
        padding-left: 10px;
    }
    
    .marginT100 {
        margin-top: 13.8vw;
    }
    
    .marginB50 {
        margin-bottom: 6.94vw;
    }
    
    .paddingT50 {
        padding-top: 6.94vw;
    }
    
    .paddingB100 {
        padding-bottom: 13.8vw;
    }
    
    
}