#title {
  min-height: 380px;
}

#title .wrap {
  position: relative;
  max-width: 100%;
}

#title .wrap img {
  width: 100%;
}

#title .slick-prev {
  left: 218px;
  z-index: 1;
}

#title .slick-next {
  right: 218px;
}

#title .wrap .slick-dots {
  bottom: 7px;
  z-index: 3;
}

#title .slick-prev:before, #title .slick-next:before {
  font-size: 0;
  width: 20px;
  display: block;
  height: 20px;
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}

#title .slick-prev:before {
  transform: rotate(45deg);
}

#title .slick-next:before {
  transform: rotate(225deg);
}

#title .slick-prev:hover:before, #title .slick-next:hover:before {
  width: 50px;
  height: 50px;
    
}