/* 공통 스타일 */
header div.wgnb {
  position: absolute;
  z-index: 1;
  background-color: rgba(1, 27, 245, 0.6);
  width: 100%;
}

header div.wgnb > div > .wsub {
  width: 100%;
  
}

header div.wgnb > div > .wsub:nth-child(1) > div:nth-of-type(1) ul:nth-child(1):hover {
  background: unset;
}

header div.wgnb > div > .wsub:nth-child(1) > div:nth-of-type(1) ul:nth-child(1) li:hover {
  background: rgba(1, 27, 245, 0.4);
}

header div.wgnb > div > .wsub > div ul:hover {
  background: rgba(1, 27, 245, 0.4);
}

header div.wgnb > div > .wsub > div ul li a:hover {
  color: #0000FF;
}

header div.wgnb > div > .wsub > div ul li  a {
  font-size: 13px;
  color: #fff;
}

header div.wgnb > div > .wsub:nth-child(2) > div ul li:nth-child(1),
header div.wgnb > div > .wsub > div ul:nth-child(n+2) li,
header div.wgnb > div > .wsub:nth-child(3) > div > ul:nth-child(1) li,
header div.wgnb > div > .wsub:nth-child(4) > div > ul:nth-child(1) li
{
  line-height: 2;
}

header div.wgnb > div > .wsub > div ul:nth-child(n+1) li:nth-child(1) a {
  color: #31ffe9;
  font-size: 16px;
}

header div.wgnb > div > .wsub > div ul {
  width: calc(100% / 7);
  text-align: center;
}

header div.wgnb > div > .wsub:nth-child(n+1) > div ul:not(:last-child) {
  border-right: 1px solid #2a65fb;
}

header div.wgnb > div > .wsub:nth-child(1) > div ul:nth-child(1) li {
  height: 100px;
  line-height: 2;
  
}

header div.wgnb > div > .wsub:nth-child(1) > div ul:nth-child(1) li a {
  display: block;
  height: 100%;
  font-size: 15px;
  color: #31ffe9;
}